/*Colors*/
$bg-dark : rgb(26, 26, 26);
$bg-light : rgb(230, 230, 230);
$primary: rgb(41, 171, 226);
$primary-dark: rgb(0, 113, 188);
$gray: rgb(77, 77, 77);
$gray-light: rgb(131, 128, 128);
$white: rgb(230, 230, 230);



/*Fonts*/
$font-strong : 'Anton', sans-serif;
$font-weak: 'EB Garamond', serif;