<div class="contact">

    <img src="assets/images/logo-small.svg" alt="wolf Logo" />
    <div class="contact__title">Get in Touch</div>
    <div class="contact__content">
        <div class="contact__content__message">
            If you have any questions, would you like to know more about me or thing we can do great things together, do
            not hesitate to contact me.
        </div>
    </div>

    <a class="contact__link" [href]="'mailto:'+email">
        <mat-icon>email</mat-icon>
        <span>Say Hello!</span>
    </a>

</div>