<div class="main">

    <div class="main__title">
        <span>Some Things I've Built</span>
        <div>&nbsp;</div>
    </div>

    <div class="main__projects">
        <div class="main__projects__item" *ngFor="let project of projects">
            <div class="main__projects__item-subtitle">{{project.subtitle}}</div>
            <div class="main__projects__item-title">
                <a [href]="project.image.url" target="_blank">{{project.title}}</a>
            </div>
            <a class="main__projects__item-img" [style]="'--urlImage:url('+project.image.src+')'"
                [href]="project.image.url" target="_blank">
            </a>
            <div class="main__projects__item-description">
                <div>{{project.description}}</div>
                <div class="main__projects__item-links">
                    <a *ngIf="project.links.github" [href]="project.links.github" target="=_blank">
                        <img src="assets/images/github.svg" alt="github logo" />
                    </a>
                </div>
            </div>

            <div class="main__projects__item-tools">
                <div *ngFor="let tool of project.tools">{{tool}}</div>
            </div>
        </div>
    </div>
</div>